body {
    background-color: #222; 
    color: #fff; 
    font-family: monospace; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0;
}

.highlight {
    color: #F2802E;
}

.container {
    display: flex; 
    flex-direction: row; 
}

.blue {
    color: #306998;
}

.yellow {
    color: #FFD43B;
}

.column {
    padding: 20px;
}
.ascii  {
    font-size: 12px; 
}
/* for mobile */
@media (max-width: 768px) {
    body {
        height:450px;
    }

    p {
        margin: 5px;
    }
    .container {
        flex-direction: column; 
        align-items: center;
    }

    .column {
        width: 100%; 
        padding: 10px; 
    }

    pre {
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        font-size: 9px; 
        justify-content: center;
        /* white-space: pre-wrap; */
    }
}
